[submodule "tools/maker"]
	path = tools/maker
	url = git@github.com:CMUAbstract/maker.git
[submodule "ext/libcapybara"]
	path = ext/libcapybara
	url = git@github.com:CMUAbstract/libcapybara.git
[submodule "ext/libio"]
	path = ext/libio
	url = git@github.com:CMUAbstract/libio.git
[submodule "ext/libmsp"]
	path = ext/libmsp
	url = git@github.com:CMUAbstract/libmsp.git
[submodule "ext/libmspbuiltins"]
	path = ext/libmspbuiltins
	url = git@github.com:CMUAbstract/libmspbuiltins.git
[submodule "ext/libmspware"]
	path = ext/libmspware
	url = git@github.com:CMUAbstract/libmspware.git
[submodule "ext/libfxl"]
	path = ext/libfxl
	url = git@github.com:CMUAbstract/libfxl.git
[submodule "ext/libcoatigcc"]
	path = ext/libcoatigcc
	url = git@github.com:CMUAbstract/coati.git
[submodule "tools/alpaca"]
	path = tools/alpaca
	url = git@github.com:CMUAbstract/alpaca-oopsla.git
[submodule "ext/libmspmath"]
	path = ext/libmspmath
	url = git@github.com:CMUAbstract/libmspmath.git
[submodule "ext/libalpacagcc"]
	path = ext/libalpacagcc
	url = git@github.com:CMUAbstract/libalpacagcc-idealized.git
